body {
	margin: 0;
	padding: 0
}

.wrapper {
	padding: 50px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cat-container {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	padding: 20px;
}

.cat-img {
	width: 350px;
	cursor: pointer;
}